.nav {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.nav-items {
	display: flex;
	justify-content: space-between;
	width: 500px;
	list-style-type: none;
}

.nav-item{
	color: cornflowerblue;
	text-decoration: none;
}

.driver{
	padding: 0;
	margin: 0;
}